apiVersion: v1
kind: ConfigMap
metadata:
  name: mefobase-core-config
  labels:
    {{- include "mefobase.labels" . | nindent 4 }}
{{- $config := .Values.mefobaseCoreConfig }}
{{- if not $config }}
{{- $file := (.Files.Get "values/configs/mefobase-core-config.yaml" | fromYaml) }}
{{- $config = $file.mefobaseCoreConfig }}
{{- end }}
data:
  appsettings.json: |-
{{ $config.appsettingsJson | default "" | nindent 4 }}
