# Service cho Apps
{{- $apps := dict }}
{{- range $path, $content := .Files.Glob "values/apps/*.yaml" }}
{{- $file := fromYaml $content }}
{{- if $file.apps }}
{{- $apps = merge $apps $file.apps }}
{{- end }}
{{- end }}
{{- if .Values.apps }}
{{- $apps = merge $apps .Values.apps }}
{{- end }}
{{- $serviceType := .Values.global.serviceType | default "ClusterIP" }}
{{- $appKeys := keys $apps | sortAlpha }}
{{- range $i, $name := $appKeys }}
{{- $app := index $apps $name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $app.name | default $name }}
  labels:
    app: {{ $app.name | default $name }}
spec:
  type: {{ $serviceType }}
  selector:
    app: {{ $app.name | default $name }}
  ports:
    - port: 80
      targetPort: {{ $app.containerPort }}
      protocol: TCP
      name: http
      {{- if and (eq $serviceType "NodePort") $app.nodePort }}
      nodePort: {{ $app.nodePort }}
      {{- end }}
{{- end }}

# Service cho Database
{{- $databases := dict }}
{{- range $path, $content := .Files.Glob "values/databases/*.yaml" }}
{{- $file := fromYaml $content }}
{{- if $file.databases }}
{{- $databases = merge $databases $file.databases }}
{{- end }}
{{- end }}
{{- if .Values.databases }}
{{- $databases = merge $databases .Values.databases }}
{{- end }}
{{- $dbKeys := keys $databases | sortAlpha }}
{{- range $j, $name := $dbKeys }}
{{- $db := index $databases $name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $db.name | default $name }}
  labels:
    app: {{ $db.name | default $name }}
spec:
  type: {{ $serviceType }}
  selector:
    app: {{ $db.name | default $name }}
  ports:
    - port: {{ $db.port }}
      targetPort: {{ $db.port }}
      protocol: TCP
      {{- if and (eq $serviceType "NodePort") $db.nodePort }}
      nodePort: {{ $db.nodePort }}
      {{- end }}
{{- end }}