global:
    environment: Production
    imagePullSecrets:
        - name: mefobase-registry-secret
    serviceType: NodePort

apps: {}
databases: {}

keydb:
    enabled: true
    service:
        type: NodePort
        nodePort: 30066
